<template>
  <div class="home">
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-12 text-right">
            <div class="selectdiv">
              <select
                v-model="$i18n.locale"
                class="form-control col-3 selectdiv"
                @change="onChange($event)"
              >
                <option v-for="lang in langs" :key="lang.key" :value="lang.key"
                  >{{ lang.text }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 page_title" v-bind:class="className">
          {{ $t("page-title.create-new-video") }}
        </div>
      </div>
      <div class="row">
        <div class="col-12" v-bind:class="className">
          <form @submit.prevent="submit">
            <div class="form-group">
              <label
                >{{ $t("create-video.title") }}
                <span>*</span>
              </label>
              <input
                type="text"
                class="form-control"
                v-model.trim="$v.title.$model"
              />
              <div class="error" v-if="!$v.title.required">
                {{ $t("create-video.field-required") }}
              </div>
              <div class="error" v-if="!$v.title.minLength">
                {{ $t("create-video.at-least") }}
                {{ $v.title.$params.minLength.min }}
                {{ $t("create-video.letters") }}.
              </div>
              <div class="error" v-if="!$v.title.maxLength">
                {{ $t("create-video.at-most") }}
                {{ $v.title.$params.maxLength.max }}
                {{ $t("create-video.letters") }}.
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck1"
                  v-model="allowDownload"
                />
                <label class="custom-control-label" for="customCheck1"
                  >{{ $t("create-video.allow-download") }}
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>{{ $t("create-video.description") }}</label>
              <textarea
                class="form-control"
                rows="3"
                v-model.trim="$v.description.$model"
              ></textarea>
              <div class="error" v-if="!$v.description.maxLength">
                {{ $t("create-video.at-most") }}
                {{ $v.description.$params.maxLength.max }}
                {{ $t("create-video.letters") }}.
              </div>
            </div>
            <div class="form-group">
              <img src="@/assets/uploadgray.png" @click="showUpload()" />
              <img src="@/assets/Vimeo64.png" @click="showVimeo()" />
              <img src="@/assets/youtube64.png" @click="showYoutube()" />
              <input
                type="file"
                class="form-control"
                v-if="uploadInputShow"
                v-bind:placeholder="$t('create-video.upload-file-here')"
              />
              <input
                type="text"
                class="form-control"
                v-model="vimeoInputValue"
                v-if="vimeoInputShow"
                v-bind:placeholder="$t('create-video.viemo-video-url')"
              />
              <input
                type="text"
                class="form-control"
                v-model="youtubeInputValue"
                v-if="youtubeInputShow"
                v-bind:placeholder="$t('create-video.youtube-video-url')"
              />
              <input type="hidden" class="form-control" v-model="video_type" />
            </div>
            <div class="form-group">
              <label
                >{{ $t("create-video.publish-date") }}
                <span>*</span>
              </label>
              <!-- <input type="text" class="form-control" v-model="publishDate" /> -->
              <datetime
                type="datetime"
                input-class="form-control"
                v-model.trim="$v.publishDate.$model"
              ></datetime>
              <div class="error" v-if="!$v.publishDate.required">
                {{ $t("create-video.field-required") }}
              </div>
            </div>
            <div class="form-group">
              <label>{{ $t("create-video.preperation") }}</label>
              <select
                id="inputState"
                class="form-control"
                v-model="preperation"
              >
                <option
                  v-for="preperation in allPreperations"
                  :key="preperation"
                  :value="preperation"
                  >{{ preperation }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>{{ $t("create-video.tags") }}</label>
              <vue-tags-input
                v-model="tag"
                :tags="tags"
                @tags-changed="newTags => (tags = newTags)"
                v-bind:placeholder="$t('create-video.tags')"
              />
            </div>
            <div class="form-group">
              <div class="col-12 page_title" v-bind:class="className">
                {{ $t("create-video.sharing-content") }}
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck2"
                  v-model="timeline"
                />
                <label class="custom-control-label" for="customCheck2"
                  >{{ $t("create-video.publish-it-in-my-timeline") }}
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>{{ $t("create-video.publish-it-in") }}</label>
              <select id="inputState2" class="form-control" v-model="publishIn">
                <option>{{ $t("create-video.choose") }}</option>
                <option value="1"
                  >{{ $t("create-video.public-library") }}
                </option>
                <option value="2">{{ $t("create-video.schools") }}</option>
                <option value="3">{{ $t("create-video.nothing") }}</option>
              </select>
            </div>
            <div class="form-group">
              <label
                >{{ $t("create-video.publish-in-special-libraries") }}
              </label>
              <select
                id="inputState2"
                class="form-control"
                v-model="publishlibraries"
              >
                <option>{{ $t("create-video.choose") }}</option>
                <option
                  v-for="library in alllibraries"
                  :key="library"
                  :value="library"
                  >{{ library }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <div class="col-12 page_title" v-bind:class="className">
                {{ $t("create-video.sharing-content-with-student") }}
              </div>
            </div>
            <div class="form-group">
              <div class="col-12" v-bind:class="className">
                {{ $t("create-video.choose-one") }}
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck3"
                  v-model="selectAll"
                  @click="checkAll"
                />
                <label class="custom-control-label" for="customCheck3"
                  >{{ $t("create-video.choose-all") }}
                </label>
              </div>
            </div>
            <div
              class="form-group"
              v-for="(singleClass, index) in allClasses"
              :key="singleClass"
              :value="singleClass"
            >
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  :id="index"
                  :value="singleClass"
                  v-model="selected"
                  @click="updateCheckAll($event)"
                />
                <label class="custom-control-label" :for="index"
                  >{{ singleClass }}
                </label>
              </div>
            </div>

            <button
              type="submit"
              class="btn btn-primary"
              :disabled="submitStatus === 'PENDING'"
            >
              {{ $t("create-video.submit") }}
            </button>
            <div class="form-group">
              <div class="alert alert-success" v-if="submitStatus === 'OK'">
                {{ $t("create-video.form-success") }}
              </div>
            </div>
            <div class="form-group">
              <div class="alert alert-success" v-if="submitStatus === 'ERROR2'">
                {{ $t("create-video.form-save-error") }}
              </div>
            </div>
            <div class="form-group">
              <div class="alert alert-danger" v-if="submitStatus === 'ERROR'">
                {{ $t("create-video.form-error") }}
              </div>
            </div>
            <div class="form-group">
              <div
                class="alert alert-warning"
                v-if="submitStatus === 'PENDING'"
              >
                {{ $t("create-video.form-pending") }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Vue from "vue";
import VueTagsInput from "@johmun/vue-tags-input";

//date time picker
import { Datetime } from "vue-datetime";
Vue.component("datetime", Datetime);

//validation
import Vuelidate from "vuelidate";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
Vue.use(Vuelidate);

export default {
  name: "home",
  components: {
    VueTagsInput
  },
  data() {
    return {
      className: "english-default",
      langs: [
        { key: "en", text: "English" },
        { key: "ar", text: "عربي" }
      ],
      allPreperations: [],
      alllibraries: [],
      allClasses: [],
      title: "",
      allowDownload: "",
      description: "",
      uploadInputValue: "",
      vimeoInputValue: "",
      youtubeInputValue: "",
      videoUrl: "",
      uploadInputShow: false,
      vimeoInputShow: false,
      youtubeInputShow: false,
      video_type: "",
      publishDate: "",
      preperation: "",
      timeline: "",
      publishIn: "",
      publishlibraries: "",
      submitStatus: "",
      tag: "",
      tags: [],
      selected: [],
      selectAll: false
    };
  },
  validations: {
    title: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(255)
    },
    description: {
      maxLength: maxLength(1000)
    },
    publishDate: {
      required
    }
  },
  methods: {
    onChange(event) {
      if (event.target.value == "ar") {
        this.className = "arabic-default";
      } else {
        this.className = "english-default";
      }
    },
    showUpload() {
      this.uploadInputShow = true;
      this.vimeoInputShow = false;
      this.youtubeInputShow = false;
      this.video_type = "upload";
      this.videoUrl = "";
    },
    showVimeo() {
      this.uploadInputShow = false;
      this.vimeoInputShow = true;
      this.youtubeInputShow = false;
      this.video_type = "viemeo";
      this.videoUrl = this.vimeoInputValue;
    },
    showYoutube() {
      this.uploadInputShow = false;
      this.vimeoInputShow = false;
      this.youtubeInputShow = true;
      this.video_type = "youtube";
      this.videoUrl = this.youtubeInputValue;
    },
    checkAll() {
      this.selected = [];
      if (!this.selectAll) {
        for (let i in this.allClasses) {
          this.selected.push(this.allClasses[i]);
        }
      }
    },
    updateCheckAll(event) {
      if (event.target.checked == false) {
        this.selectAll = false;
      }
    },
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        // do your submit logic here
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);

        // send data
        Vue.axios
          .post("https://roles.viewclass.com/api/library.video.create", {
            title: this.title,
            can_students_download: this.allowDownload,
            video_type: this.video_type,
            video_url: this.videoUrl,
            video_file: null,
            srt_file: null,
            publish_date: this.publishDate,
            preparation_id: this.preperation,
            tags: this.tag,
            publish_timeline: this.timeline,
            sharing_with: this.publishIn,
            publish_custom_library: this.publishlibraries,
            classes: this.selected,
            students: [4, 5, 6, 7, 8, 9],
            subject_id: 1
          })
          .then(response => {
            this.res = response.data[0];
            if (this.res == true) {
              // saved successfully
              this.submitStatus = "Ok";
            } else {
              this.submitStatus = "ERROR2";
            }
          });
      }
    }
  },
  mounted() {
    // get allPreperations
    Vue.axios
      .get("https://roles.viewclass.com/api/preparing.list?subject_id=1")
      .then(response => {
        this.allPreperations = response.data[1];
      });

    // get allPreperations
    Vue.axios
      .get("https://roles.viewclass.com/api/custom-libraries.list")
      .then(response => {
        this.alllibraries = response.data[1];
      });

    // get classes
    Vue.axios
      .get("https://roles.viewclass.com/api/class.students.list?class_id=1")
      .then(response => {
        this.allClasses = response.data[1];
      });
  }
};
</script>

<style lang="scss">
.english-default {
  text-align: left;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.arabic-default {
  text-align: right;
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.page_title {
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
  line-height: 35px;
}

.header {
  background: #f3f3f4;
  border-bottom: 1px solid #e7eaec;
  padding-top: 15px;
  padding-bottom: 15px;
}

.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  min-width: 200px;
}

/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
  display: none;
}

.selectdiv:after {
  content: "<>";
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Add some styling */
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

.error {
  color: red;
  font-style: italic;
}
</style>
