<template>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-12 text-right">
          <div class="selectdiv">
            {{ className }}
            <select
              v-model="$i18n.locale"
              class="form-control col-3 selectdiv"
              @change="onChange($event)"
            >
              <option v-for="lang in langs" :key="lang.key" :value="lang.key"
                >{{ lang.text }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AppHeader",
  components: {},
  data() {
    return {
      langs: [
        { key: "en", text: "English" },
        { key: "ar", text: "عربي" }
      ]
    };
  },
  methods: {
    onChange(event) {
      if (event.target.value == "ar") {
        this.className = "arabic-default";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.header {
  background: #f3f3f4;
  border-bottom: 1px solid #e7eaec;
  padding-top: 15px;
  padding-bottom: 15px;
}

.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  min-width: 200px;
}

/* IE11 hide native button (thanks Matt!) */

select::-ms-expand {
  display: none;
}

.selectdiv:after {
  content: "<>";
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}
</style>
